{
	"presets": ["@babel/preset-env", "@ava/babel-preset-stage-4"],
	"plugins": [
		"@babel/plugin-transform-regenerator",
		[
			"shebang",
			{
				"replacement": "#!/usr/bin/env node",
				"force": false
			}
		]
	]
}
